In [8]:
import mysql.connector
import pandas as pd

# 1. Connect to MySQL
cnx = mysql.connector.connect(
    host="localhost",    # or your server
    user="root",
    password="Billiard013!",
    database="BeerWulf"
)

# 2. Create a cursor and run a query
cursor = cnx.cursor()
query = "SELECT * FROM dim_date LIMIT 5;"
cursor.execute(query)
rows = cursor.fetchall()

# 3. Convert to a DataFrame for display
df = pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description])
df.head()

   date_key   full_date  day_of_week  month  quarter  year
0         1  1992-01-01            4      1        1  1992
1         2  1992-01-02            5      1        1  1992
2         3  1992-01-03            6      1        1  1992
3         4  1992-01-04            7      1        1  1992
4         5  1992-01-05            1      1        1  1992